<section class="homed-sec">
  <div class="homed-head">
    <h2 class="homed-head__title">{{ heading_title }}</h2>
    <div class="homed-tabs"><button class="homed-tabs__btn is-active" type="button">Усі</button><button
        class="homed-tabs__btn" type="button">Жіноче</button><button class="homed-tabs__btn"
        type="button">Чоловіче</button><button class="homed-tabs__btn" type="button">Аксесуари</button></div>
  </div>
  <div class="homed-grid">

    {% include "/default/template/include/product/_product_widget.twig" %}

  </div>
</section>